*ip/clk_wiz_0/clk_wiz_0.dcp
*ip/clk_wiz_0/clk_wiz_0.v
*ip/clk_wiz_0/clk_wiz_0.xdc
*ip/clk_wiz_0/clk_wiz_0.xml
*ip/clk_wiz_0/clk_wiz_0_board.xdc
*ip/clk_wiz_0/clk_wiz_0_clk_wiz.v
*ip/clk_wiz_0/clk_wiz_0_ooc.xdc
*ip/clk_wiz_0/clk_wiz_0_sim_netlist.v
*ip/clk_wiz_0/clk_wiz_0_sim_netlist.vhdl
*ip/clk_wiz_0/clk_wiz_0_stub.v
*ip/clk_wiz_0/clk_wiz_0_stub.vhdl
*ip/clk_wiz_0/mmcm_pll_drp_func_7s_mmcm.vh
*ip/clk_wiz_0/mmcm_pll_drp_func_7s_pll.vh
*ip/clk_wiz_0/mmcm_pll_drp_func_us_mmcm.vh
*ip/clk_wiz_0/mmcm_pll_drp_func_us_pll.vh
*ip/clk_wiz_0/mmcm_pll_drp_func_us_plus_mmcm.vh
*ip/clk_wiz_0/mmcm_pll_drp_func_us_plus_pll.vh

*ip/fifo_generator_0/hdl/
*ip/fifo_generator_0/sim/
*ip/fifo_generator_0/simulation/
*ip/fifo_generator_0/synth/
*ip/fifo_generator_0/fifo_generator_0.dcp
*ip/fifo_generator_0/fifo_generator_0.xdc
*ip/fifo_generator_0/fifo_generator_0.xml
*ip/fifo_generator_0/fifo_generator_0_clocks.xdc
*ip/fifo_generator_0/fifo_generator_0_ooc.xdc
*ip/fifo_generator_0/fifo_generator_0_sim_netlist.v
*ip/fifo_generator_0/fifo_generator_0_sim_netlist.vhdl
*ip/fifo_generator_0/fifo_generator_0_stub.v
*ip/fifo_generator_0/fifo_generator_0_stub.vhdl
 
*tcl/

*constraints/